mixin storeForm(store = {})
  - const url = store._id ? `/add/${store._id}` : '/add'
  
  form(action=url method="POST" class="card")
    label(for="name") Name
    input(type="text" name="name" value=store.name)
    label(for="description") Description
    textarea(name="description")= store.description

    - const choices = ['Wifi', 'Open late', 'Family friendly', 'Vegetarian', 'Licensed']
    - const tags = store.tags || []
    ul.tags
      each choice in choices
        - const checkIt = tags.includes(choice)
        .tag.tag__choice
          input(type="checkbox" id=choice value=choice name="tags" checked=checkIt)
          label(for=choice) #{choice}
    input(type="submit" value="Save" class="button")
